.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background: rgba(0, 0, 0, 0.5);
    padding-top: 3rem;
}

.modal-body {
    margin: auto;
    padding: 2rem;
    min-width: 200px;
    max-width: 800px;
    border-radius: 15px;
    background: #fff;
    max-height: 90%;
}

.cover_m {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.modal__closeBtn {
    margin-top: 10px;
}

/* .contentContainer__modal {} */

.contentContainer__modal_imageContainer {
    width: 200px;
    height: 200px;
    margin-right: 40px;
}

.activeText {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.modalTitleFont {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 6px;
}